<html>

    <head>
       <link rel="stylesheet"  href="style.css">
        
    </head>
    <body>

        <h1 align="center"> KNOW YOUR FORECAST </h1>
        <form  align="center" class="form">
        <input placeholder="location">
        <button id="btn1">search</button>

        </form>

        <p id="message-1" align = "center"></p>
        <p id="message-2" align = "center"></p>

        <script src='clients-side.js'></script>

    </body>
</html>