<html>

    <head>
       <link rel="stylesheet"  href="style.css">
        
    </head>
    <body>

        <h1 align="center"> KNOW YOUR FORECAST </h1>
        <form  align="center" class="form">
        <input placeholder="Enter Your City" id="box">
        <button id="btn1">search</button>

        </form>


        <h2 id="message-1" align = "center"></h2>
        <h2 id="message-3" align = "center"></h2>
        <h2 id="message-4" align = "center"></h2>
        <h2 id="message-5" align = "center"></h2>
        <h2 id="message-8" align = "center"></h2>
        <h2 id="message-6" align = "center"></h2>
        <h2 id="message-7" align = "center"></h2>
        
        
        
    
        <h2 id="message-2" align = "center"><font size="20"></font></h2>

        <script src='clients-side.js'></script>

        <script type="text/javascript">
            var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
            {widgetcode:"02ef4f9ec9c0c19d5d2287ab309b9e96fa7d2c8924cdd0de3cb3ed097de361de98226a7e56b457bcaa14e7654c99b1bf", values:{},ready:function(){}};
            var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
            s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
            </script>

    </body>
</html>